<h1>Gerenciador da Empresa</h1>
<hr>

<div class="row">
<div class="col-3">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Categorias</h4>
      </div>
      <div class="card-body">
      
        <ul class="list-unstyled mt-3 mb-4">
          <li>Cadastrar</li>

        </ul>

      </div>
    </div>
    </div>
 
    <app-lista-produtos></app-lista-produtos>

    <div class="col-3">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Perfil</h4>
        </div>
        <div class="card-body">
        
          <ul class="list-unstyled mt-3 mb-4">
            <li>Cadastrar</li>
  
          </ul>
  
        </div>
      </div>
      </div>

