<!--<a routerLink="/cadastrar-turma" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Cadastrar</a>-->
<h1>Carrinho</h1>
<div class="row">
  <div class="col-5">

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" width="80">Código</th>
          <th scope="col">Produto</th>
          <th scope="col" width="80">Qtd.</th>
          <th scope="col" width="120">Preço Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrinho of carrinhos">
          <th scope="row">{{turma.codigo}}</th>
          <td>{{carrinho.disciplina.nome}}</td>
          <td>{{turma.ano}}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="excluir(turma)">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-primary btn-sm" (click)="abrir(turma)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-sm btn-primary">Finalizar Compra</button>
  </div>
  
</div>